<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/mainPageStyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Kanit:wght@800&family=PT+Sans+Narrow&family=The+Nautigal:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Memora</title>
  </head>
  <body>
    <main>
      <h1>M E M O R A</h1>

      <br />
    </main>
    <p>a good place for medication, communication and imagination</p>

    <a href="/lobby"><img src="/images/door.png" /></a>
  </body>
</html>
